

/* Static color */
#intro.color .container-fluid {
  background: #f2f2f2;
}

/* Introduction background */
#introduction .half.bg {
  background-image: url('../img/business-plan-consulting-development.jpg');
  background-size: cover;
}

/* Services background */
#services .half.bg {
  background-image: url('../img/substance-abuse-business-consultant.jpg');
  background-size: cover;
}

/* Services background */
#services-2 .half.bg {
  background-image: url('../img/networking-and-marketing.jpg');
  background-size: cover;
}

/* Portfolio background */
#portfolio .half.bg {
  background-image: url('../img/business-consulting-portfolio.jpg');
  background-size: cover;
}

/* About background */
#about .half.bg {
  background-image: url('../img/business-consult-at-your-service.jpg');
  background-size: cover;
}

/* Footer background */
#footer .half.bg {
  background-image: url('../img/cam-logo-1400x1240.jpg');
  background-size: cover;
}

/* Slogan */
#slogan{
  display: none;
}
.slogan-div{
  position: absolute;
  bottom: 10px;
  width: 100%;
}
.slogan-img{
  display: block;
  position: relative;
  margin: auto;
  width: 700px;
}

/* Footer */
.list-inline>li>a{
  font-size: 14px;
  color: #0a8e9b;
}
.copyright{
  font-size: 16px;
}


/* Social Media Icons */
ul.share-buttons{
  list-style: none;
  padding: 10px 10px;
}

ul.share-buttons li{
  display: inline;
  padding-right: 5px;
}